{
  "printWidth": 141,
  "singleQuote": true,
  "trailingComma": "es5",
  "jsxBracketSameLine:": true,
  "bracketSpacing": true,
  "requirePragma": true,
  "parser": "flow",
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ]
}
